* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');*/

header {
	display: flex;
	justify-content: space-between;
	height: 3em;
	box-sizing: border-box;
	/*fuente*/
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	color: #060A24;
	letter-spacing: 0;
	line-height: 28px;
	a {
		text-decoration: none;
	}
	div {
		padding: .5em 1em;
	}
	nav {
		ul {
			display: flex;
			li {
				padding: 0em 1em;
				list-style: none;
				line-height: 3em;
				&:hover {
					font-family: 'IBM Plex Mono', monospace;
					font-size: 16px;
					color: #00F3BB;
					letter-spacing: 0;
					line-height: 28px;
				}
				&:active {
					font-family: 'IBM Plex Mono', monospace;
					font-size: 16px;
					color: rgba(6, 10, 36, 0.56);
					letter-spacing: 0;
					line-height: 28px;
				}
			}
		}
	}
	/*menu*/
	.label,
	span {
		display: none;
	}
	#abrir-cerrar {
		display: none;
	}
}

.welcome-article {
	margin-top: 3.1%;
	margin-left: 13.9%;
	/*border: 1px solid black; ayuda visual*/
	.welcome-h1 {
		display: flex;
		font-family: 'IBM Plex Mono', monospace;
		font-size: 64px;
		color: #060A24;
		#span-world {
			text-decoration: line-through;
			padding-right: 40px;
			padding-left: 40px;
		}
		#span-dot {
			color: #0000EC;
		}
	}
	.welcome-description {
		font-family: 'IBM Plex Mono', monospace;
		font-size: 16px;
		color: #060A24;
		letter-spacing: 0;
		line-height: 24px;
	}
	#btn-more {
		width: 226px;
		height: 56px;
		margin-top: 1.4%;
		background: #00F3BB;
		#btn-text {
			text-align: center;
			display: block;
			padding-top: 20px;
		}
		/*fuente*/
		@font-face {
			font-family: 'IBM Plex Mono', monospace;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			color: #060A24;
			letter-spacing: 0;
			line-height: 24px;
			src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
		}
		/*evento hover*/
		&:hover {
			background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
		}
	}
}

.grid-episodios {
	margin-top: 0.1%;
	/*background-image: linear-gradient(170deg, white 28%, #0000A3 0%);*/
	/*linear-gradient(180deg, white 28.2%, #0000A3 28%);*/
	background-image: linear-gradient(170deg, white 22%, #0000A3 22%, #0000A3 83%, white 75%);
	max-width: 1440px;
	height: 1242.6px;
	/*border: 1px solid black;ayuda visual*/
	.container {
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(95px, auto);
		justify-items: center;
		text-align: center;
		#epi-title {
			grid-column: 1;
			grid-row: 4;
			font-family: 'IBM Plex Sans', sans-serif;
			font-size: 48px;
			color: #ffffff;
			letter-spacing: 0;
		}
		iframe {
			width: 584px;
			height: 232px;
			border-radius: 2%;
		}
		.episodio-one {
			grid-column: 1;
			grid-row: 5;
		}
		.episodio-two {
			grid-column: 1;
			grid-row: 6;
		}
		.episodio-three {
			grid-column: 2;
			grid-row: 5;
		}
		.episodio-four {
			grid-column: 2;
			grid-row: 6;
		}
		.history-item {
			margin-top: 7%;
			grid-column: 1;
			grid-row: 7;
		}
		.history-title {
			grid-column: 2;
			grid-row: 7;
			margin-top: 50%;
			#h2-title {
				font-family: 'IBM Plex Sans', sans-serif;
				font-size: 48px;
				color: #060A24;
				letter-spacing: 0;
				text-align: justify;
			}
			p {
				margin-top: 0.6%;
				font-family: 'IBM Plex Mono', monospace;
				font-size: 16px;
				color: #060A24;
				letter-spacing: 0;
				line-height: 24px;
				text-align: justify;
			}
		}
	}
}

.grid-guests {
	margin-top: 60%;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(auto, auto);
	justify-items: center;
	/* border: 1px solid black;ayuda visual*/
	#guest-title {
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 48px;
		color: #060A24;
		letter-spacing: 0;
		grid-column: 1 / 3;
		grid-row: 1;
		text-align: center;
		margin-bottom: 5%;
	}
	img {
		width: 480px;
		height: 364px;
	}
	.guest-one {
		grid-column: 1;
		grid-row: 2;
	}
	.guest-two {
		grid-column: 2;
		grid-row: 2;
	}
	.guest-three {
		grid-column: 3;
		grid-row: 2;
	}
	.guest-four {
		grid-column: 1;
		grid-row: 3;
	}
	.guest-five {
		grid-column: 2;
		grid-row: 3;
	}
	.guest-six {
		grid-column: 3;
		grid-row: 3;
	}
}

.grid-topics {
	margin-top: 5%;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(auto, auto);
	justify-items: center;
	#topic-title {
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 48px;
		color: #060A24;
		letter-spacing: 0;
		grid-column: 1/3;
		grid-row: 1;
		margin-bottom: 5%;
		text-align: right;
	}
	.topic-one {
		grid-column: 1;
		grid-row: 2;
		img {
			padding-left: 20%;
		}
	}
	.topic-two {
		grid-column: 2;
		grid-row: 2;
		text-align: center;
	}
	.topic-three {
		grid-column: 3;
		grid-row: 2;
		img {
			padding-left: 20%;
		}
	}
	.topic-four {
		grid-column: 4;
		grid-row: 2;
		img {
			padding-left: 30%;
		}
	}
	.remote-topic {
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 24px;
		color: #060A24;
		letter-spacing: 0;
	}
}

.grid-news {
	margin-top: 0.1%;
	background-image: linear-gradient(173deg, white 28%, #0000A3 0%);
	/*linear-gradient(180deg, white 28.2%, #0000A3 28%);*/
	width: 1440px;
	height: 518px;
	/*border: 1px solid black;ayuda visual*/
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(auto, auto);
	justify-items: center;
	.news-title {
		grid-column: 1/4;
		grid-row: 3;
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 48px;
		color: #FFFFFF;
		letter-spacing: 0;
		text-align: center;
	}
	.listen-item {
		margin-top: 0.9%;
		grid-column: 2/3;
		grid-row: 4;
		@font-face {
			font-family: 'IBM Plex Mono', monospace;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			color: #060A24;
			letter-spacing: 0;
			line-height: 24px;
			src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
		}
		background: #00F3BB;
		height: 56px;
		width: 345px;
		text-align: center;
		#btn-text {
			display: block;
			margin: 20px 20px;
		}
	}
}

.footer-cl {
	display: flex;
	justify-content: space-between;
	height: 3em;
	h3 {
		font-family: 'IBM Plex Mono', monospace;
		font-size: 16px;
		color: #060A24;
		letter-spacing: 0;
		line-height: 28px;
	}
	div {
		padding-top: 0.8em;
	}
	.social {
		/*padding-left: 1em;*/
		width: 8em;
		a {
			margin-right: 2.5%;
			i {
				width: 18px;
				height: 28px;
				color: #060A24;
			}
		}
	}
}
body {
	max-width: 1440px;
}